
body{
/*    background-color: #e5e5e5;*/
    font-family: "Serif Bold", Verdana, sans-serif;
    font-size: normal;
}

nav a:link,nav a:visited {text-decoration:none;text-shadow:#111111 2px 2px 1px;color:#FFFFFF;}
nav a:hover {color:#CCCCCC;}  /* mouse over link */
nav a:active {text-shadow:#111111 0px 0px 1px;}  /* selected link */

header{
    background-color: #157fc9;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    -moz-box-shadow: 0px 5px 5px #595c5a;
    -webkit-box-shadow: 0px 5px 5px #595c5a;
    box-shadow: 0px 5px 5px #595c5a;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 5, direction = 180, color = '#595c5a');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 5, Direction = 180, Color = '#595c5a')";

}

header h1{
    margin: 0px;
    padding: 22px;
    font-size: 50px;
    height: 50px;
    display: inline-block;
}

#div-banner a:link,#div-banner a:visited {text-decoration:none;text-shadow:#111111 5px 5px 4px;color:#FFFFFF;}
#div-banner a:hover {color:#eeeeee;}  /* mouse over link */
#div-banner a:active {text-shadow:#111111 0px 0px 1px;}  /* selected link */

#logo{
/*    border: 1px solid black;*/
    position: absolute;
    left: 20px;
    top: 20px;
}

#div-nav{
/*    border: 1px solid black;*/
    position: absolute;
    right: 20px;
    top: 40px;
    text-align: right;
    font-size: 20px;
}

#div-nav ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#div-nav li
{
    margin-left: 20px;
    display: inline;
}

#content{
    width: 800px;
    margin: 110px auto 20px ;
    padding: 10px;

/*    border: 1px solid black;*/

}

.no-margin{
    margin: 0px;
}

.shadow {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 3px #727678;
    -webkit-box-shadow: 0px 0px 5px 3px #727678;
    box-shadow: 0px 0px 5px 3px #727678;
}

.side-left{
    float: left;
}

.side-right{
    float: right;
}

#div-loginform{
    padding: 5px 10px 5px;
    border: 1px solid black;
    display: table;
    margin: auto;
}

#div-registerform{
    padding: 5px 10px 5px;
    border: 1px solid black;
    display: table;
    margin: auto;
}

#div-accountform{
    padding: 5px 10px 5px;
    border: 1px solid black;
    display: table;
    margin: auto;
}

.error{
    background-color: #F888A5;
    border: 2px dotted red;
    padding: 4px 10px
}

.success{
    background-color: #0BE29F;
    border: 2px dotted green;
    padding: 4px 10px
}

.br{
    margin-bottom: 20px;
}

input[type="submit"]{
    display: table;
    margin: auto;
    margin-top: 20px;
}

h2{
    text-align: center;
}

.file-title a:link, a:visited {text-decoration:none;color: black;}

table {
  border-collapse: collapse;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  margin: auto;
}

td, th {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5em;
}

footer{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 3px #727678;
    -webkit-box-shadow: 0px 0px 5px 3px #727678;
    box-shadow: 0px 0px 5px 3px #727678;
    margin-top: 30px;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 50px;
}
