<!--my_account.html.jinja2-->

{% extends "layout.html.jinja2" %}
{% block title %} - My Account{% endblock %}
{% block content %}

    <center>
        <h3>My account</h3>
    </center>
    <div id="div-accountform" class="shadow" >
        <form action="{{ url_for( 'show_account' ) }}" method="POST" >
            <dl>
                <dt>Username:</dt>
                <dd><input type='text' name='username' disabled="disabled"\
                    value="{{ session['username'] }}" /></dd>
                <dt>Current Password:</dt>
                <dd><input class="br" type='password' name='password'></dd>
                <dt>New password:</dt>
                <dd><input type='password' name='newpassword' /></dd>
                <dt>New password again:</dt>
                <dd><input type='password' name='newpassword2' /></dd>
                <input type='submit' value="Update profile">
            </dl>
        </form>
    </div>

{% endblock %}
