<!--register.html.jinja2-->

{% extends "layout.html.jinja2" %}
{% block title %} - Register{% endblock %}
{% block content %}

    <center>
        <h3>Register form</h3>
    </center>

    <div id="div-registerform" class="shadow" >
        {% if error %}
        <div id="div-registererror" class="error" >{{ error }}</div>
        {% endif %}
        <form action="{{ url_for( 'show_register' ) }}" method="POST" >
            <dl>
                <dt>Username:</dt>
                <dd><input type='text' name='username'></dd>
                <dt>Password:</dt>
                <dd><input type='password' name='password'></dd>
                <dt>Password again:</dt>
                <dd><input type='password' name='password2'></dd>
                <input type='submit' value='Register'>
            </dl>
        </form>
    </div>

{% endblock %}
